@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-image: linear-gradient(to right, #EDCBAD, #BF793B, #A6460F);
}
main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #682f0e;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1 {
    color: #F2921D;
    text-align: center; 
    text-shadow: 1px 1px 0px #76460c;
}
h2 {
    color: #A6460F;
}

p {
    text-align: justify;
}
